.sidebar {
display: flex;
width: 20%;
height: 1101px;
padding: 30px 0px 131px 50px;
flex-direction: column;
align-items: flex-start;
gap: 100px;
flex-shrink: 0;
background: var(--secondary-light, #4FB3BF);
list-style: none;
}